.counter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tag{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.setter{
  display: flex;
  flex-direction: column;
}
button{
  width: 100%;
}
input{
  width: 100%;
}
.tagElement{
  width: 100px;
  height: 30px;
  background-color: rgb(107,150,230);
  color:#ffffff;
  text-align: center;
  margin-top: 5px;
}
.removeTag{
  width: 100px;
  height: 30px;
  background-color: #cc3141;
  color:#ffffff;
  text-align: center;
  margin-top: 5px;
}