.counter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tag{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.setter{
  display: flex;
  flex-direction: column;
}
button{
  width: 100%;
}
input{
  width: 100%;
}
.tagElement{
  width: 100%;
  height: 20%;
  background-color: rgb(107,150,230);
  color:#ffffff;
  text-align: center;
}