<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
  </head>
  <body>
    <h1>Weather Forecast</h1>
    <div>
        <% forecasts.forEach(function(item){%>
            <div>
                <p><%= item.city %></p>
                <p><%= item.location %></p>
                <p><%= item.weather[0].temp %></p>      
            </div>
        <% }) %>
    </div>
  </body>
</html>