
@font-face {
  font-family: 'lato';
  src: url('/fonts/awesome-i.woff2') format('woff2')
}

.bar{
  height: 70vh;
  float: left;
  display: flex;
  justify-content:center; 
  align-items:center;
  background-color: #eeeeee;
}

/* home */
.bgd{
  height: 100vh;
  width: 100vw;
  background-color: #eeeeee;
}
.header{
  height: 30vh;
  width: 100vw;
  letter-spacing: 100px;
  background-image: url('./pictures/space.png');
  background-size: 100% 100%;
  font-family: "lato";

  font-weight: 300;
  font-size: 400%;
  /* light Lato font  */
  color: #ffffff;
  display: flex;
  justify-content:space-around;
  align-items:center;
}


/* articleBar */
#articalBar{
  width: 60vw;
  
}
.articalFrame{
  height: 65vh;
  width: 58vw;
  background-color: #eeeeee;
  overflow:scroll;
}


/* listArtItem */
.article{
  background-color: #ffffff;
  width: 90%;
  height: 22%;
  position: relative;
  left:5%
}
.voteArea{
  height: 100%;
  width: 10%;
  float: left; 
}
.vote{
  width:100%;
  height:40%;
  display: flex;
  justify-content:center; 
  align-items:center;
}
.up{
  height:50%;
  width:20%;
  background-image: url('./pictures/upvote.png');
  background-repeat: no-repeat;
}
.uped{
  height:50%;
  width:20%;
  background-image: url('./pictures/upvoted.png');
  background-repeat: no-repeat;
}
.score{
  height:20%;
  display: flex;
  justify-content:center; 
  align-items:center;
}
.down{
  height:50%;
  width:20%;
  background-image: url('./pictures/downvote.png');
  background-repeat: no-repeat;
}
.downed{
  height:50%;
  width:20%;
  background-image: url('./pictures/downvoted.png');
  background-repeat: no-repeat;
}
.listBtn{
  height: 20%;
  width: 10%;
  border-radius: 10px;
  background-color: rgb(95,163,218);
}



/* sideBar */
#sideBar{
  width: 40vw;
}
.sideFrame{
  height: 65vh;
  width: 38vw;
}
.submitBtn{
  height: 10%;
  width:100%;
  background-color: rgb(95,163,218);
  font-size: 150%;
  color: #ffffff;
}
.side{
  width:100%;
}
#BarContent{
  height: 70%;
  position: relative;;
  top: 20px;
}
#CoHeader{
  height: 20%;
  background-color:  #ffffff;
  display: flex;
  flex-direction: row;
}
#CoBody{
  height: 80%;
  background-color: #f5f5f5;
  display: flex;
}
.blueText{
  color: #3f80b9;
}


/* submit */
.submitBar{
  width: 40%;
  height: 50vh;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content:center; 
  align-items:center;

  position: relative;
  top: 5%;
  left: 30%;
}
.submitHeader{
  width: 90%;
  height: 15%;
  font-size: 200%;
  display: flex;
  justify-content:center; 
}
.submitFrame{
  width: 90%;
  height: 70%;
}
input{
  width: 100%;
  height: 40px;
}
label{
  font-size: 110%;
}
#smallSmitBtn{
  position: relative;
  top: 15px;
  width: 30%;
  font-size: 20px;
}

