<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= ̰, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookStore</title>
</head>
<body> 
    <ul>
        <h1>Book Title</h1>
        <% result.forEach(function(item){%>
          <li><%= item.book_name %></li>
        <% }) %>    
    </ul>

</body>
</html>